<h3>Login Page -- Sellers</h3>
<form #f="ngForm" (ngSubmit)="login(f)">
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" ngModel #username="ngModel">
    </div>
    <div class="form-group">      
      <input type="password" class="form-control" placeholder="Password" name="password" ngModel #password="ngModel">
    </div>
    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>