<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product/addproduct">AddProduct</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product">ViewProducts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product/manage">ManageProducts</a>
      </li>            
    </ul>    
  </div>
</nav>
<div class="container">

  <!-- <app-add-product></app-add-product>
  <app-view-product></app-view-product>
    <app-product></app-product> -->
    <!-- <app-manage-product></app-manage-product> -->
    <router-outlet></router-outlet>
    
</div>
<div class="alert alert-success text-center text-capitalize" style="margin-top: 100px;">
  Created by Vivek, Yash and Sayam
</div>